<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="form-container"><br><br>
        <h2>SignUp Page</h2><br>
        <form action="/signup" method="post">
        <div class="form-group">
            <center>
                <label for ="name">Name:</label>
                <input type="text" name="username" class="text" placeholder="enter your username" required autocomplete="off"> <br><br>
            <label for="password">Password:</label>
            <input type="password" class="pass" name="password" placeholder="password" required>
            <br><br>
            <button type="submit" class="btn-submit">signup</button>  <br><br></form>
             </center>       
        <div>
        </div>

</body>
</html>